name: Auto
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron:  "* 23 * * *"
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Run a one-line script
      run: bash ./host.sh
      
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
           commit_message: Apply automatic changes
           commit_options: '--no-verify --signoff'
           repository: .
           commit_user_name: FusionPlmH
           commit_user_email: leemenhin@gmail.com
